<%- include('../shared/includes/head',{pageTitle: 'Add coupon'})  %> 
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main >
        <h2>Add Coupon</h2>
        <% if(inputData.errorMassage) { %>
            <section class="alert">
                <h3>Invalid Input</h3>
                <p><%= inputData.errorMassage %></p>
            </section>
     <% } %>  
        <form class="form" action="/admin/coupon" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken  %>" required>
             <div>
                <label for="code">Code</label>
                <p>A code is auto generated for you.</p>
                <input type="text" id="code" name="code" value="<%=couponCode%>" required>
             </div>
             <div>
                <label for="type">Discount type</label>
                <select name="type" id="type">
                    <option value="persentage"<%if(inputData.type === "persentage") { %>selected <% } %> >Persentage</option>
                    <option value="amount" <%if(inputData.type === "amount") { %>selected <% } %>>Amount</option>
                </select>
    
             </div>
             <div>
                <label for="discount">Discount</label>
                <input type="number" id="discount" name="discount" value="<%= inputData.discount %>" required>
             </div>
             <div>
                <label for="expiry">Expiry Date</label>
                <input type="date" id="expiry" name="expiry" value="<%=inputData.expiry  %>" required>
             </div>
             
                 <button class="btn">Add Coupon</button>
             </div>
            </form>
    </main>
<%-include("../shared/includes/footer")  %> 

</body>
</html>