<%- include('../shared/includes/head',{pageTitle: 'Product Details'})  %> 
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/product-details.css">
<script src="/scripts/cart-management.js" defer></script>

</head>
<body>
    <%- include('../shared/includes/header')  %> 
    <main>
        <div class="product-details">
           <div class="image"><img src="<%=product.imageUrl  %>" alt=""></div>
            <div class="details">

                <h2><%=product.title  %> </h2>
                <p><%=product.summary  %></p>
                <h2>$<%=product.price  %></h2>
                <p><%=product.discription  %></p>
                <button class="btn"  data-productid="<%=product.id%>" data-csrf="<%=locals.csrfToken%>">Add To Cart</button>
            </div>
        </div>
    </main>
<%-include("../shared/includes/footer")  %> 

</body>
</html>